mixin hexIcon(icon,title,active=false)

  .hex(class=active ? 'active' : '')
    svg(viewBox="0 0 100 100")
      polygon(points="50 1 93 25 93 75 50 99 7 75 7 25")

    .hex-content
      img(src=icon)
      span=title


mixin tourCard(image,title,price,oldPrice,discount)

  .swiper-slide

    .tour-card

      if discount
        .discount #{discount}%

      .tour-image
        img(src=image)

        .glass
        .overlay-btn View

      h3.tour-title=title

      .tour-price
        span Adult from
        strong US$#{price}
        span.old (US$#{oldPrice})

      a.btn-buy Buy Now