mixin hexIcon(icon,title,active=false,tabId=false)
  - var attrs = { class: active ? 'active' : '', role: 'tab', 'aria-selected': active };
  if tabId
    - attrs['data-tab'] = tabId;
    - attrs['aria-controls'] = 'tab-panel-' + tabId;
    - attrs['id'] = 'tab-' + tabId;
  .hex&attributes(attrs)
    .hex-content
      img(src=icon)
      span=title


mixin tourCard(image,title,price,oldPrice,discount)

  .swiper-slide

    .tour-card

      if discount
        .discount #{discount}%

      .tour-image.shape
        img(src=image)
      h3.tour-title=title
      .tour-meta
        .tour-score
          span.tour-rating-value 4.8
          .tour-stars
            - for (var i = 0; i < 5; i++)
              span.star *
          span.tour-rating-count (320)
        .tour-customers
          - const avatars = ["/assets/img/customer-01.svg","/assets/img/customer-02.svg","/assets/img/customer-03.svg"]         
          each avatar, idx in avatars
            .avatar(class=idx === avatars.length - 1 ? 'is-last' : '')
              img(src=avatar alt="Customer")

      .tour-price
        div
          span Adult from
          strong.price US$#{price}
        span.old-price (US$#{oldPrice})

      a.btn-buy Buy Now

      .tour-description 
          h5 What's indclued: 
          .tour-content 
            ul 
              li 24-hour hop-on, hop-off ticket
              li Desert Safari:
                ul 
                  li - desert dune-bashing 
                  li - luxurious desert camp 
                  li - desert dune-bashing
                  li - luxurious desert camp 
                  li - traditional Arabian buffet & barbeque 
                  li - henna painting, falconry, fire show, Tanoura dancing & more 
                  li - hotel pick-up and drop-off
              li Dhow Cruise
              li Fully Flexible Bus Ticket (free date change)
      a.btn-buy.read-more Buy Now