mixin hexIcon(icon,title,active=false,tabId=false)
  - var attrs = { class: active ? 'active' : '', role: 'tab', 'aria-selected': active };
  if tabId
    - attrs['data-tab'] = tabId;
    - attrs['aria-controls'] = 'tab-panel-' + tabId;
    - attrs['id'] = 'tab-' + tabId;
  .hex&attributes(attrs)
    .hex-content
      img(src=icon)
      span=title


mixin tourCard(image,title,price,oldPrice,discount)

  .swiper-slide

    .tour-card

      if discount
        .discount #{discount}%

      .tour-image
        img(src=image)

        .glass
        .overlay-btn View

      h3.tour-title=title

      .tour-price
        span Adult from
        strong US$#{price}
        span.old (US$#{oldPrice})

      a.btn-buy Buy Now