mixin hexIcon(icon,title,active=false,tabId=false)
  - var attrs = { class: active ? 'active' : '', role: 'tab', 'aria-selected': active };
  if tabId
    - attrs['data-tab'] = tabId;
    - attrs['aria-controls'] = 'tab-panel-' + tabId;
    - attrs['id'] = 'tab-' + tabId;
  .hex&attributes(attrs)
    .hex-content
      img(src=icon)
      span=title


mixin tourCard(image,title,price,oldPrice,discount)

  .swiper-slide

    .tour-card

      if discount
        .discount #{discount}%

      .tour-image.shape
        img(src=image)
      h3.tour-title=title
      .tour-meta
        .tour-score
          span.tour-rating-value 4.8
          .tour-stars
            - for (var i = 0; i < 5; i++)
              span.star *
          span.tour-rating-count (320)
        .tour-customers
          - const avatars = ["/assets/img/customer-01.svg","/assets/img/customer-02.svg","/assets/img/customer-03.svg"]         
          each avatar, idx in avatars
            .avatar(class=idx === avatars.length - 1 ? 'is-last' : '')
              img(src=avatar alt="Customer")

      .tour-price
        span Adult from
        strong US$#{price}
        span.old (US$#{oldPrice})

      a.btn-buy Buy Now